@charset "utf-8";

/* CSS Document */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
}

/*相关样式*/
#showbox {
    background: #eee;
}

#showbox span {
    background: url(./whitebg.png) repeat;
}

#showsum {
    left: 25px;
    margin-top: 10px;
}

#showsum span {
    border: 1px solid #ddd;
}

#showsum span.sel {
    border: 1px solid #f60;
}

.showpage {
    width: 400px;
    position: relative;
}

.showpage a {
    display: block;
    width: 27px;
    height: 28px;
    line-height: 28px;
    background: #545454;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: -46px;
    text-decoration: none;
    color: #999;
}

.showpage a#shownext {
    left: auto;
    right: 0;
}

.showpage a:hover {
    background: #ccc;
    color: #777;
}