
.sendBox {
    width: 100%;
    /* padding: 1px; */
  
    position: fixed;
    bottom: 0px;
  }
  .Lmsg {  
    word-break:break-all;
   
    text-align:left;
    background: #20b2aa;
    max-width:80%;
    color: #fff;
    padding-right:10px; 
    word-break:break-all;
    padding-left: 10px;
    line-height: 40px;  
    border-radius: 10px 10px 6px 10px;
    display: inline-block;
  }
  .Rmsg { 
    display: inline-block;
    word-break:break-all;
    text-align:left;
    background: #20b2aa;
    max-width:80%;
    color: #fff;
    padding-right:10px; 
    padding-left: 10px;
    line-height: 40px;  
    border-radius: 10px 10px 6px 10px;
  }
  .welcomeBox{
    width: 100%;
    text-align: center;
  }
  .rightContent{
      /* margin-top: 20px; */
      max-width: 100%;
      text-align: end;
      position: relative;
  }
  .contentBox{
      width: 100%;
  
      /* margin-top: 10px; */
      word-wrap:break-word;  
      word-break:break-all;  
  }
  
  .topOccupy{
    position:absolute;
    top: 0px;
    height: 100px;
  }